.foodlist {
  min-height: 500px;
  height: 100%;
  width: 100%;
  background-color: #f7f7f7;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  margin-top: 40px;
  margin-bottom: 90px;
}
